CREATE OR REPLACE FUNCTION {{ schema }}.check_{{ table_name }}_cfd_{{ fd_index }}_fn()
RETURNS TRIGGER LANGUAGE PLPGSQL AS $$
BEGIN
    IF EXISTS (SELECT *
        FROM {{ schema }}._{{ table_name }} AS R1,
        (SELECT {{ new_cols }}) AS R2
        WHERE {{ where_branches | join('\n            OR ') }}) THEN
        RAISE EXCEPTION 'CFD violation on {{ table_name }}: {{ lhs_attrs | join(", ") }} -> {{ rhs_attrs | join(", ") }} %', NEW;
        RETURN NULL;
    ELSE
        RETURN NEW;
    END IF;
END;
$$;

CREATE TRIGGER {{ table_name }}_cfd_{{ fd_index }}_trigger
BEFORE INSERT ON {{ schema }}._{{ table_name }}
FOR EACH ROW
EXECUTE FUNCTION {{ schema }}.check_{{ table_name }}_cfd_{{ fd_index }}_fn();
