CREATE TRIGGER {{ direction }}_{{ table_name }}_{{ suffix }}_JOIN_trigger
AFTER INSERT ON {{ schema }}._{{ table_name }}_{{ suffix }}
FOR EACH ROW
EXECUTE FUNCTION {{ schema }}.{{ direction }}_{{ table_name }}_{{ suffix }}_JOIN_fn();
